{% extends 'base.html' %}

{% block content %}
        <div id="content">
            <div class="section-title"><h1>Eliminar profesional de secretaría</h1></div>
            <div id="create-user-form" style="margin-top:10px;">
                {% if error_message %}
                <div class="error-message" style="color:red;font-size:13px;">
                    {{ error_message }}
                </div>
                {% endif %}
                <form action="{% url 'administration:delete_secretary' %}" method="post"
                id="create-record-form">
                <!-- input has class: 'administration-input' -->
                    {% csrf_token %}
                    <div class="form-inputs-container">
                        {{ form.as_p }}
                    </div>
                    <div class="modify-template-buttons">
                        <input type="submit" value="Eliminar" style="float:left; margin-right:10px; width:auto; color:#ee1111; border-color:red;"/>
                        <div class = "button-record-inside-user-link" style="text-align:left; width:auto; float:left; height:23px; font-size:14px; margin-right:-12px;">
                        <a class="button-record-link" href ="{% url 'administration:admin_home' %}">Volver</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

<script type="text/javascript">
    $(document).on('click', 'input[type="submit"]', function(){
        if($("#id_secretary").val()){
            return confirm('¿Está seguro que desea eliminar al profesional de secretaría?');
        }
    })
</script>

{% endblock %}