{% extends 'base.html' %}

{% block content %}

        <div id="content">
          <div class="section-title"><h1>Crear registro para el paciente: {{ patient.get_full_name }}</h1></div>
          <div class="patient-entries">
            <div class="patient-entry">
              <div class="patient-name"> </div>
            </div>
          </div>

          <form action="{% url 'records:create_record_from_patient' user.id patient.id %}" id="create-record-form" method="post">{% csrf_token %}
            <div class="form-inputs-container">
              <div class="date-input">Fecha de la sesión:
              <input type="text" name="session_datetime" value="YYYY-MM-DD HH:MM" required>
              </div>
              <div class="sess-duration-input">Duración de la sesión (en minutos): <input type="number" name ="session_duration" min="15" max="360" value="" step="15" required>
              </div>
            </div>
            <div class = "record-text">
              <div class = "edit-record-text">
                <textarea id = "edit-record-textarea" name="session_resume" required></textarea>
              </div>
            <input type="submit" value="Guardar">
            </div>
          </form>
        </div>

{% endblock %}