{% extends 'base.html' %}

{% block content %}


<div id="content">
  	<div class="section-title"><h1>Novedades</h1></div>
    <div class="feed-entries">
		<div class="entry">
	        <div class="entry-title">Titulo</div>
	        <span class="article-author">Por Alana Velazquez</span>
	        <span class="entry-date">24-07-2016</span>
        
	        <div class="entry-text"><p>In here there will be a lot of content, as you suspect, content about a lot of different stuff, and all kind of contents, long content, not so long content, medium content, short content, medium-large content, medium-short content, XL content, XXL content, XXXL content, as i said, a lot of content, so be prepared, don't say i didn't told you so.
	        </p></div>
        </div>
         <div class="entry">
         	<div class="entry-title">Titulo</div>
	        <span class="article-author">Por {{ user.get_full_name }}</span>
	        <span class="entry-date">24-07-2016</span>
	        <div class="entry-text"><p> Your dni: {{ user.professional.dni }} <br/>
	        Your profession: {{ user.professional.profession }}</p></div>
        <h3><p>Bienvenido {{ user.get_full_name }}!</p></h3>
        </div>
    </div>
</div>

{% endblock %}