{% load static %}

<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login, Register form</title>
    <link rel="stylesheet" href="{% static 'login/normalize.css' %}">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
  </head>

  <body>
  <div class="login-box">
      <div class="lb-header">
          <a href="#" class="active" id="login-box-link">Login</a>
          <a href="#" id="signup-box-link">Sign Up</a>
      </div>
      <form action="{% url 'login' %}" method="post" class="email-login">{% csrf_token %}
          <div class="u-form-group">
              <input type="username" name="username" placeholder="Username" required/>
          </div>
          <div class="u-form-group">
            <input type="password" name="password" placeholder="Password" required/>
          </div>
          <div class="u-form-group">
            <button type="submit" value="Submit">Log in</button>
          </div>
      </form>
      <form action="{% url 'new_user' %}" method="post" class="email-signup">{% csrf_token %}
          <div class="u-form-group">
              <input type="username"  name="username" placeholder="Username" required/>
          </div>
          <div class="u-form-group">
              <input type="password"  name="password" placeholder="Password" required/>
          </div>
            <div class="u-form-group">
                <button type="submit" value="Submit">Sign Up</button>
            </div>
      </form>
  </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="{% static 'login/js/index.js' %}"> </script>
  </body>
</html>
