<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Modify Comment</title>
</head>
    <h1>Modify Comment</h1>
  <body>
    <form action="{% url 'modify_comment' goal.id comment.id %}" method="post" id="edit_comment">{% csrf_token %}
      <h3>Comment</h3>
      <textarea id="comment_text" name="comment_text" maxlength=500 
                style="width:auto; resize: none;" rows="5" cols="50" required>{{ comment.text }}</textarea>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>
